<style>
ul {
	h1
	front-size: 620%;
	
}
h2 {
	front-size: 600%;
	color : white;
}
h1 {
	front-size: 600%;
	color: white;
}
p {
	front-size: 400%;
	color: white;
}
body {
	background-image: url
	background-size: 100%
}